<!DOCTYPE html>
<html>

<head>
    <title>My Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    
    <div class="container">
        
        <div class="nav">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </div>
        
        <h1>Hello, I am a Student</h1>
        <p>This is my simple portfolio website made using Django.</p>
        
        <div class="footer">
            <p>College Mini Project</p>
        </div>
        
    </div>
    
</body>

</html>